body {
  font-family: sans-serif; }

#carousel {
  position: relative;
  height: 100vh;
  overflow: hidden; }
  #carousel div {
    position: absolute;
    transition: transform 1s, left 1s, opacity 1s, z-index 0s, width 1s, height 1s;
    opacity: 1;
    width: 400px;
    height: 300px; }
    #carousel div .scene, #carousel div .card, #carousel div .card__face, #carousel div .overlay {
      width: 100%;
      height: 100%; }
    #carousel div img {
      width: 100%;
      transition: width 1s, height 1s; }
    #carousel div.hideLeft {
      left: 0%;
      opacity: 0;
      transform: translateY(50%) translateX(-50%); }
      #carousel div.hideLeft .scene, #carousel div.hideLeft .card, #carousel div.hideLeft .card__face, #carousel div.hideLeft .overlay {
        width: 100%;
        height: 100%; }
      #carousel div.hideLeft img {
        width: 200px;
        height: 100px; }
    #carousel div.prevLeftSecond {
      z-index: 4;
      left: 15%;
      transform: translateY(50%) translateX(-50%);
      opacity: 0.7;
      width: 300px;
      height: 200px; }
      #carousel div.prevLeftSecond .scene, #carousel div.prevLeftSecond .card, #carousel div.prevLeftSecond .card__face, #carousel div.prevLeftSecond .overlay {
        width: 100%;
        height: 100%; }
    #carousel div.prev {
      z-index: 5;
      left: 30%;
      transform: translateY(50px) translateX(-50%);
      width: 300px;
      height: 200px; }
      #carousel div.prev .scene, #carousel div.prev .card, #carousel div.prev .card__face, #carousel div.prev .overlay {
        width: 100%;
        height: 100%; }
    #carousel div.selected {
      z-index: 30;
      left: 50%;
      transform: translateY(0px) translateX(-50%); }
    #carousel div.next {
      z-index: 5;
      left: 70%;
      transform: translateY(50px) translateX(-50%);
      width: 300px;
      height: 200px; }
      #carousel div.next .scene, #carousel div.next .card, #carousel div.next .card__face, #carousel div.next .overlay {
        width: 100%;
        height: 100%; }
    #carousel div.nextRightSecond {
      z-index: 4;
      left: 85%;
      transform: translateY(50%) translateX(-50%);
      opacity: 0.7;
      width: 300px;
      height: 200px; }
      #carousel div.nextRightSecond .scene, #carousel div.nextRightSecond .card, #carousel div.nextRightSecond .card__face, #carousel div.nextRightSecond .overlay {
        width: 100%;
        height: 100%; }
    #carousel div.hideRight {
      left: 100%;
      opacity: 0;
      transform: translateY(50%) translateX(-50%); }
      #carousel div.hideRight .scene, #carousel div.hideRight .card, #carousel div.hideRight .card__face, #carousel div.hideRight .overlay {
        width: 100%;
        height: 100%; }
      #carousel div.hideRight img {
        width: 200px;
        height: 100px; }
    #carousel div.is-flipped-detect {
      width: 80vw;
      height: 80vh; }
    #carousel div.scene {
      width: 100%;
      height: 100%;
      margin: 0;
      perspective: 600px; }
    #carousel div.card {
      width: 100%;
      height: 100%;
      transition: transform 1s;
      transform-style: preserve-3d;
      position: relative;
      cursor: pointer; }
      #carousel div.card.is-flipped {
        transform: rotateX(180deg); }
      #carousel div.card .card__face--front .overlay {
        opacity: 0;
        transition: 1s ease;
        background-color: black;
        z-index: 14; }
      #carousel div.card .card__face--front label.desc {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
        border: 2px solid;
        border-radius: 50%;
        width: 200px;
        height: 200px;
        z-index: 15;
        opacity: 0;
        transition: opacity 1s;
        cursor: pointer; }
        #carousel div.card .card__face--front label.desc p {
          display: inline;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%); }
    #carousel div .card:hover .card__face--front label.desc {
      opacity: 1;
      transition: opacity 1s; }
    #carousel div .card:hover .card__face--front .overlay {
      opacity: 0.5; }
    #carousel div .card__face {
      width: 100%;
      height: 100%;
      position: absolute;
      color: white;
      font-weight: 500;
      font-size: 40px;
      backface-visibility: hidden; }
      #carousel div .card__face p {
        margin: 0; }
      #carousel div .card__face img {
        width: 100%;
        height: 100%;
        left: 0; }
    #carousel div.card__face--front {
      background: transparent; }
    #carousel div.card__face--back {
      background: #fbf8f8;
      transform: rotateX(180deg);
      z-index: 30; }
      #carousel div.card__face--back .back-wrapper {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        height: 90%; }
        #carousel div.card__face--back .back-wrapper p {
          color: #919499;
          display: inline;
          top: 0;
          left: 0;
          margin: 0; }
        #carousel div.card__face--back .back-wrapper__header {
          width: 96.555%;
          height: auto;
          padding: 10px;
          border-bottom: 2px solid #919499; }
        #carousel div.card__face--back .back-wrapper__body {
          display: flex;
          top: 100px;
          width: 100%;
          height: auto; }
          #carousel div.card__face--back .back-wrapper__body .ingredients, #carousel div.card__face--back .back-wrapper__body .instruction {
            position: relative;
            width: 50%;
            height: auto;
            font-size: 15px; }
            #carousel div.card__face--back .back-wrapper__body .ingredients p, #carousel div.card__face--back .back-wrapper__body .instruction p {
              display: block;
              width: 100%;
              line-height: 2;
              color: black; }
              #carousel div.card__face--back .back-wrapper__body .ingredients p span.product, #carousel div.card__face--back .back-wrapper__body .instruction p span.product {
                font-weight: bold; }
          #carousel div.card__face--back .back-wrapper__body .instruction .head {
            color: red; }
          #carousel div.card__face--back .back-wrapper__body .instruction .advise {
            color: #919499;
            line-height: 1.4;
            margin-top: 10px;
            font-style: italic; }
          #carousel div.card__face--back .back-wrapper__body .instruction .line {
            border-bottom: 1px solid black;
            padding-bottom: 20px;
            width: 100%;
            height: 1px;
            display: block; }

.buttons {
  position: fixed;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  z-index: 10; }

.global-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  z-index: 29;
  opacity: 0.3;
  display: none; }

/*# sourceMappingURL=index.css.map */
