=centralize()
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)

=inheritFromParent()
    width: 100%
    height: 100%

=fullWidth()
    width: 100%
    height: auto

=hidedElementsSize()
    width: 300px
    height: 200px

$card-color: rgb(145, 148, 153)
$animation-time: 1s

body
    font-family: sans-serif

#carousel
    position: relative
    height: 100vh
    overflow: hidden
    div
        position: absolute
        transition: transform 1s, left 1s, opacity 1s, z-index 0s, width 1s, height 1s
        opacity: 1
        width: 400px
        height: 300px
        .scene, .card, .card__face, .overlay
            +inheritFromParent()

        img
            width: 100%
            transition: width 1s, height 1s

        &.hideLeft
            left: 0%
            opacity: 0
            transform: translateY(50%) translateX(-50%)
            .scene, .card, .card__face, .overlay
                +inheritFromParent()
            img
                width: 200px
                height: 100px

        &.prevLeftSecond
            z-index: 4
            left: 15%
            transform: translateY(50%) translateX(-50%)
            opacity: .7
            +hidedElementsSize()
            .scene, .card, .card__face, .overlay
                +inheritFromParent()

        &.prev
            z-index: 5
            left: 30%
            transform: translateY(50px) translateX(-50%)
            +hidedElementsSize()
            .scene, .card, .card__face, .overlay
                +inheritFromParent()

        &.selected
            z-index: 30
            left: 50%
            transform: translateY(0px) translateX(-50%)

        &.next
            z-index: 5
            left: 70%
            transform: translateY(50px) translateX(-50%)
            +hidedElementsSize()
            .scene, .card, .card__face, .overlay
                +inheritFromParent()

        &.nextRightSecond
            z-index: 4
            left: 85%
            transform: translateY(50%) translateX(-50%)
            opacity: .7
            +hidedElementsSize()
            .scene, .card, .card__face, .overlay
                +inheritFromParent()
        
        &.hideRight
            left: 100%
            opacity: 0
            transform: translateY(50%) translateX(-50%)
            .scene, .card, .card__face, .overlay
                +inheritFromParent()
            img
                width: 200px
                height: 100px
        
        &.is-flipped-detect
            width: 80vw 
            height: 80vh
        
        &.scene
            +inheritFromParent()
            margin: 0
            perspective: 600px

        &.card
            +inheritFromParent()
            transition: transform $animation-time
            transform-style: preserve-3d
            position: relative
            cursor: pointer
            &.is-flipped
                transform: rotateX(180deg)
            .card__face--front
                .overlay
                    opacity: 0 
                    transition: $animation-time ease
                    background-color: black
                    z-index: 14
                label.desc
                    +centralize()
                    font-size: 30px
                    border: 2px solid
                    border-radius: 50%
                    width: 200px
                    height: 200px
                    z-index: 15
                    opacity: 0
                    transition: opacity $animation-time
                    cursor: pointer
                    p
                        display: inline
                        +centralize()
        
        .card:hover
            .card__face--front
                label.desc
                    opacity: 1
                    transition: opacity $animation-time
                .overlay
                    opacity: 0.5

        .card__face
            +inheritFromParent()
            position: absolute
            color: white
            font-weight: 500
            font-size: 40px
            backface-visibility: hidden
            p
                margin: 0
            img
                +inheritFromParent()
                left: 0

        &.card__face--front
            background: transparent
        
        &.card__face--back
            background: #fbf8f8
            transform: rotateX(180deg)
            z-index: 30
            .back-wrapper
                +centralize()
                width: 90% 
                height: 90%
                p
                    color: $card-color
                    display: inline
                    top: 0
                    left: 0
                    margin: 0
                &__header
                    width: 96.555%
                    height: auto
                    padding: 10px
                    border-bottom: 2px solid $card-color
                &__body
                    display: flex
                    top: 100px
                    +fullWidth()
                    .ingredients, .instruction
                        position: relative
                        width: 50% 
                        height: auto
                        font-size: 15px
                        p
                            display: block
                            width: 100%
                            line-height: 2
                            color: black
                            span.product
                                font-weight: bold

                    .instruction
                        .head
                            color: red
                        .advise
                            color: $card-color
                            line-height: 1.4
                            margin-top: 10px
                            font-style: italic
                        .line
                            border-bottom: 1px solid black
                            padding-bottom: 20px
                            width: 100%
                            height: 1px
                            display: block

.buttons
    position: fixed
    left: 50%
    bottom: 10px
    transform: translateX(-50%)
    z-index: 10

.global-overlay
    +inheritFromParent()
    position: absolute
    top: 0
    left: 0
    background: black
    z-index: 29
    opacity: 0.3
    display: none
